<head>
    <%- include("./partials/head");%>
</head>

<header>
    <%- include("./partials/header");%>
</header>

<section id="content">
    <!--SECOND PAGE - PAGES -->
    <% bibleQuotes.forEach((item)=> { %>
    <article>

        <article>

            <h2><% item.book_name; %></h2>
            <span><% item.chapter %> </span>
            <h3><% item.verse %></h3>
            <p><% item.text %></p>

            <div>
                <button>Next</button>
            </div>

        </article>

    </article>
    <% })%>

</section>