

<%- include ('./partials/head.ejs'); %>



<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </nav>
    </header>

    <main id="router-view">

        <div id="Home">

            <h1>BOOK OF ROMANS</h1>

            <form action="">

                <!--CHAPTER FILTER -->
                <label for="chapter">Chapter</label>

                <select id="chapter" name="chapter">

                    <option value="1"> chapter 1</option>
                    <option value="2"> chapter 2</option>
                    <option value="3"> chapter 3</option>
                    <option value="4"> chapter 4</option>
                    <option value="5"> chapter 5</option>
                    <option value="6"> chapter 6</option>
                    <option value="7"> chapter 7</option>
                    <option value="8"> chapter 8</option>
                    <option value="9"> chapter 9</option>
                    <option value="10"> chapter10 </option>
                    <option value="11"> chapter 11</option>
                    <option value="12"> chapter 12</option>
                    <option value="13"> chapter 13</option>
                    <option value="14"> chapter 14</option>
                    <option value="15"> chapter 15</option>
                    <option value="16"> chapter 16</option>


                </select>

                <!--VERSE FILTER -->
                <label for="verse">Verse</label>

                <select id="verse" name="verse">

                    <option value=" 1"> verse 1</option>
                    <option value="2">verse 2</option>
                    <option value="3">verse 3</option>
                    <option value="4">verse 4</option>
                    <option value="5"> verse 5</option>
                    <option value="6">verse 6</option>
                    <option value="7">verse 7</option>
                    <option value="8">verse 8</option>
                    <option value="9"> verse 9</option>
                    <option value="10">verse 10</option>
                    <option value="11">verse 11</option>
                    <option value="12">verse 12</option>
                    <option value="13">verse 13</option>
                    <option value="14">verse 14</option>
                    <option value="15">verse 15</option>
                    <option value="16">verse 16</option>

                </select>

            </form>



        

        </div>
    </main>




</body>

</html>