

<head>
    <%- include("./partials/head");%>
</head>


<body>
    eader>
    <%- include("./partials/header");%>
</header>
    <main>
        <section>
            <h2>You are offline </h2>
        </section>
    </main>

    <%- include("./partials/register.ejs");
</body>