

<head>
    <%- include("./partials/head");%>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
   
    <main>
        <section class="offline-page">
            <h2>Opps ! You are offline.</h2> 
            <img src="" alt="">
            <p>Currently you cannot view this page offline</p>
            <a href="/">Go to home page</a>
        </section>
    </main>

    <%- include("./partials/register.ejs")%>;
</body>

