body {
    background-color: #fefbea91;
    height: 100%;


    font-family: 'Athiti', sans-serif;
}

:root {
    --background-color: #faeee7;
    --heading-color: #33272a;
    --header-color: #ff8ba7;
    --background-color-verses: #fffffe;

    --border-line: #f3a14986;
    --heading-color: rgb(75, 29, 29);

    ----background-color-section: #F1F0E9;
    --border-color: #4A76A4;
    --basic-text-color: #33272a;
    ;
    --heading-chapter-text-color: #B30E08;

}

/** header **/

header {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

header nav {
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul {

    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

li {
    margin: 0 10px;
    color: green;

}

li a {
    text-decoration: none;
    color: var(--basic-text-color);
    font-weight: 600;

}

li a:hover {
    text-decoration: underline;

}



main {
    display: grid;

    height: 100vh;
    align-items: center;
    justify-items: center;
    /* background-color: var(--background-color-main) */
}




/**Pages ****/
section:nth-of-type(1) {
    padding: 1em;
    margin-bottom: 10em;

}


h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: overline;
    color: var(--heading-color);
    display: block;
}


/* 
/**First Border***/
section:nth-of-type(1) article:nth-of-type(1) {
    inset: inherit;
    text-align: center;
    height: 100%;
    padding-top: 5em;
    padding: 1em;
    font-size: 1.2rem;


}

span:nth-of-type(1) {
    font-weight: 700;
    font-size: large;

}

h3 {
    font-weight: 300;
    font-size: .9rem;

}


div:nth-of-type(2) {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;

}

button {
    padding: 1em;
    background-color: rgb(185, 151, 76);
    border: none;
    font-weight: 700;
    width: 10em;
    z-index: -1
}

button:hover {
    transform: scale(1.2);

    background-color: orange;
    ;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

button:disabled {
    content: "......";
    background-color: rgba(255, 166, 0, 0.265);
    border-radius: 2px;


}



h4 {

    color: var(--heading-color);
    font-size: 1.4rem;
}

.about {
    display: grid;

}



.about article {
    background-color: var(--background-color);
    padding: 1em;
    border-radius: .5em;
    /* box-shadow: 1px 2px 7px black; */
}

.about .first-article {
    border: none;
    display: none;
}


.about article details {
    color: black;
    border-radius: 1em;
    font-size: .7rem;
}

.about article details summary {
    text-align: left;
    font-size: 1rem;
}

h5 {
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    color: #594a4e;

}

h6 {
    font-size: 1rem;
}

.overview-page {
    margin-bottom: 5em;

}



.verses-container {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-decoration: none;
    min-height: 100%;

}


.verses-container>div {

    border-radius: .5em;
    height: 1em;
}

h6 {
    background-color: var(--background-color);
    border: 3px solid var(--background-color);
    border-radius: .5em;
    padding: .7em;


}

h6:hover {
    background-color: #ff8ba7;
}


.verses-container a {
    color: black;
    text-decoration: none;
    text-align: center;
    height: 5em;
    padding: .5em;


}


.detailpage,
article {
    box-shadow: none;
    background-color: var(--background-color);
    color: #33272a;
    border-radius: 1em;
    margin-top: 1em;

}

.detailpage,
article>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: 1rem;

}




/**Voor de error message**/

.error-message {
    border: 1px solid red;
    color: red;
    padding: 2em;
    text-align: center;
    box-shadow: 0px 0px 3px red;
    text-shadow: 0px 0px 1px red;


}







@media (min-width:44em) {
    body {
        justify-content: center;
        background-color: var(--);
    }

    header {
        height: 3em;
        justify-content: end;

    }

    /***First page**/
    section:nth-of-type(1) article :nth-of-type(1) {
        height: 100;

    }


    /****pages**/
    section:nth-of-type(1) {
        width: 100vh;
        justify-content: center;

    }


    h4 {
        text-align: center;
    }

    .container-about {
        display: grid;
        grid-template-columns: 500px 500px;
        gap: 2em;
    }

    .container-about article:hover {
        border: 2px solid var(--border-color);
        box-shadow: 1px 2px 7px black;
    }


    .verses-container {
        display: grid;
        justify-content: center;
        align-items: center;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .verses-container a {
        height: 3em;
    }


}